html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
    /* 设置页面的最小宽度，避免页面一直缩小造成显示问题 */ 
    /* min-width: 1366px;  */
    min-width: 500px; 
}

/* 面包屑样式设置 */
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

/* 卡片组件样式设置 */
.el-card{
    /* !important 表示强制覆盖原来的样式设置 */
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15) !important;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}

.el-steps {
    margin-top: 15px;
    margin-bottom: 15px;
}